:root{
    --font-family : 'figtree', sans-serif;
    --font-size-base: 15px;

    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);   
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);

    --bg-color: var(--yellow);
    --bg-card: var(--white);
    --text-main: var(--gray-950);    
    --text-muted: var(--gray-500);
    
    --text-weight-normal: 500;
    --text-weight-bold: 800;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-text {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
}

body {
    background-color: var(--bg-color);

}

.card {
    background-color: var(--bg-card);
    color: var(--text-main);
    border: 1px solid var(--gray-950);
    border-radius: 20px;
    max-width: 384px;
    max-height: 522px;
    box-shadow: 10px 10px rgba(0, 0, 0, 1);
    margin: 10% auto;
}

.img-main {
    border-radius: 10px;
    margin: 1.5rem 1.5rem  1rem;
}

.state {
    color: var(--text-main);
    font-weight: var(--text-weight-bold);
    margin: 0 1.5rem 0.25rem;
    border: 1px solid var(--bg-color);
    border-radius: 4px;
    padding: 4px 12px;
    background-color: var(--bg-color);
    max-width: fit-content;
}

.date {
    margin: 1rem 1.5rem 0.5rem;
}

.title {
    margin: 1rem 1.5rem 1rem;
    font-size: 1.3rem;
    font-weight: var(--text-weight-bold);
}

.description {
    margin: 0rem 1.5rem 1.5rem 1.5rem;
    color: var(--text-muted);
    line-height: 1.5;
}

.avatar {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin: 0 0.5rem 1.5rem 1.5rem ;    
}

.author {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5rem;
    margin-right: 3rem;
    font-weight: var(--text-weight-bold);
    font-size: small;
}

.atribution {
    position: fixed;
    bottom: 10px;
    font-size: 11px;
    text-align: center;
    width: 100%;
    color: var(--text-main);
}